body{
    background-color: #0d1f22;;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#time{
    background-color:  rgb(221, 210, 210);
    height: 200px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title{
    color: black;
    box-shadow: 0px 1px 2px red;
    height: 50px;
    width: 250px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#btn{
    position: relative;
    top: 20px;
}

button{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    height: 20px;
    cursor: pointer;
}